<footer
  class='bg-black text-center text-white py-8 pt-16 md:py-8 md:pt-8 rounded-t-full shadow-2xl'
>
  <section class='font-medium'>
    <p>Raphael Dalangin</p>
    <p class='px-4 py-2 text-sm'>Copyright© 2023</p>
  </section>
  <section class='flex items-center justify-center gap-2 pt-4'>
    <a class='w-8 h-8' href='https://github.com/Raphile14' target='_blank'>
      <img src='/images/icons/github.svg' alt='My GitHub' />
    </a>
    <a
      class='w-8 h-8'
      href='https://www.linkedin.com/in/raphael-dalangin/'
      target='_blank'
    >
      <img src='/images/icons/linkedin.svg' alt='My LinkedIn' />
    </a>
    <a
      class='w-8 h-8'
      href='https://open.spotify.com/artist/2cdcLzfzTLNxcdxYHbV782?si=-Ak1q3pnTG2_cY6ayaKe1A'
      target='_blank'
    >
      <img src='/images/icons/spotify.svg' alt='My Spotify' />
    </a>
    <a
      class='w-8 h-8'
      href='https://www.youtube.com/channel/UCv7CwhtHJtM0pz_c4Rxxx-Q'
      target='_blank'
    >
      <img src='/images/icons/youtube.svg' alt='My YouTube' />
    </a>
  </section>
</footer>
