---
import Social from "./Social.astro";
---

<footer
  class='bg-black text-center text-white py-8 pt-16 md:py-8 md:pt-8 rounded-t-full shadow-2xl'
>
  <section class='font-medium'>
    <p>Raphael Dalangin</p>
    <p class='px-4 py-2 text-sm'>Copyright© 2023</p>
  </section>
  <Social />
</footer>
