<nav
  class='mx-auto md:p-4 bg-black text-white w-full rounded-b-3xl md:rounded-b-full px-8 md:px-16 shadow-2xl'
>
  <!-- Container -->
  <div class='relative flex items-center justify-between'>
    <!-- Logo for md and up -->
    <a
      href='/'
      class='hidden md:block transition hover:bg-white hover:text-black rounded-3xl'
    >
      <div class='relative flex items-center justify-between'>
        <div class='w-8 h-8'>
          <img
            class='rounded-full'
            src='/images/Raphael Dalangin.jpg'
            alt='My image'
          />
        </div>
        <div class='px-4'>
          <p>My Portfolio</p>
        </div>
      </div>
    </a>

    <!-- Navigations for md and up -->
    <div class='hidden md:block'>
      <ul class='relative flex items-center justify-between'>
        <li class='px-4 transition hover:bg-white hover:text-black rounded-3xl'>
          <a href='/#about'>About Me</a>
        </li>
        <li class='px-4 transition hover:bg-white hover:text-black rounded-3xl'>
          <a href='/#projects'>Projects I've Worked On</a>
        </li>
        <li class='px-4 transition hover:bg-white hover:text-black rounded-3xl'>
          <a href='/#contact'>Contact Me</a>
        </li>
      </ul>
    </div>

    <!-- Navigations for sm and down -->
    <div class='md:hidden py-2 w-full'>
      <ul class='relative flex items-center justify-center gap-x-8'>
        <li>
          <a href='/' class='md:hidden'>
            <div class='w-8 h-8'>
              <img
                class='rounded-full'
                src='/images/Raphael Dalangin.jpg'
                alt='My image'
              />
            </div>
          </a>
        </li>
        <li><a href='/#about'>About</a></li>
        <li>
          <a href='/#projects'>Projects</a>
        </li>
        <li><a href='/#contact'>Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
