<nav class='mx-auto p-4 bg-black text-white w-full'>
  <div class='relative flex items-center justify-between'>
    <div class='relative flex items-center justify-between'>
      <div class='w-8 h-8'>
        <img
          class='rounded-full'
          src='/images/Raphael Dalangin.jpg'
          alt='My image'
        />
      </div>
      <div class='px-4'>
        <h1>Hi! I am Raphael Dalangin</h1>
      </div>
    </div>
    <div>
      <ul class='relative flex items-center justify-between'>
        <li class='px-4'><a href='index.php'>About Me</a></li>
        <li class='px-4'>
          <a href='index.php?page=about'>Project I've Worked On</a>
        </li>
        <li class='px-4'><a href='index.php?page=contact'>Contact Me</a></li>
      </ul>
    </div>
  </div>
</nav>
